.marco, #formulario, header {
  border-top: 10px solid #000000;
  border-bottom: 10px solid #000000;
  border-right: 10px solid #5a5a5a;
  border-left: 10px solid #5a5a5a;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8470588235);
}

nav {
  width: 100%;
}
nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0px;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 60px;
  width: 18%;
  border: 4px solid #A2B5BB;
  background-color: #CFD2CF;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(255, 209, 209) 15%, rgb(255, 67, 67) 97%, rgb(255, 51, 51) 100%);
  transition: all 1s;
}
nav ul li:hover {
  transform: scale(1.1);
}
nav ul li a {
  font-size: medium;
}

.logo {
  margin: 10px;
  background-color: #F5EDDC;
  border: 6px solid rgba(235, 29, 53, 0.5058823529);
}

html {
  overflow-x: hidden;
}

body {
  background-color: #F5EDDC;
  background-image: url(../images/partitura.jpg);
  overflow-x: hidden;
}

section #populares {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section #populares h2 {
  color: #F5EDDC;
}
section #bienvenida {
  grid-area: bienvenida;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.cubo {
  border-top: 10px solid #A2B5BB;
  border-left: 15px solid rgba(235, 29, 53, 0.5058823529);
  width: 45%;
  height: 100%;
}

.subrayado {
  text-decoration: underline;
}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 10px;
  margin: 5px;
  border: 4px solid rgba(235, 29, 53, 0.5058823529);
  border-radius: 10px;
  background-color: #CFD2CF;
  background: linear-gradient(0deg, #CFD2CF 15%, rgb(248, 154, 154) 60%, rgb(250, 118, 118) 100%);
  transition: all 2s;
}
.contenedor .prod {
  display: flex;
}
.contenedor:hover {
  transform: scale(0.9);
}
.contenedor h3 {
  width: 100%;
}

p {
  text-align: right;
}

.icons {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: 4px solid rgba(235, 29, 53, 0.2196078431);
  background-color: rgba(245, 237, 220, 0.7960784314);
}

legend {
  padding-right: 5%;
  text-align: center;
  font-weight: bold;
  background-color: #F5EDDC;
  border: 2px solid rgba(235, 29, 53, 0.2196078431);
}

.destacado {
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
  background-color: #F5EDDC;
}

label {
  margin: 6px;
}

button {
  margin-left: 20px;
  padding: 4px;
  padding-right: 20px;
  padding-left: 20px;
}

input {
  width: 90%;
}

#formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-image: url("../images/notas.jpg");
  width: 100%;
}

.fondo_claro {
  background-color: rgba(245, 237, 220, 0.5490196078);
}

.marco {
  padding: 0px;
  margin-top: 0px;
  width: 60%;
}
.marco #principal {
  width: 100%;
}
.marco #nuestro {
  width: 100%;
}

.marco_fino {
  display: flex;
  padding: 10px;
  width: 96%;
  border: solid;
  margin: 10px;
  flex-wrap: wrap;
}
.marco_fino .linea {
  width: 50%;
}

textarea {
  height: 100px;
  width: 90%;
}

img {
  width: 100%;
}

.baner {
  height: 650px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: start;
  background-color: rgba(250, 145, 145, 0.9803921569);
  border-top: 4px solid #eb1d35;
  margin-top: 20px;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  header {
    flex-direction: row;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    width: 80%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .contenedor .prod {
    display: flex;
    flex-direction: column;
  }
  .cubo {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer_element {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .marco_fino {
    display: flex;
    flex-direction: column;
  }
  .marco {
    width: 100%;
  }
  .baner {
    height: 500px;
  }
}/*# sourceMappingURL=styles.css.map */